@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&display=swap');

.circular--square {
    background-color: var(--abutua);
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
  }

:root {
    --abu: #ccc;
    --abutua: #666;

}
.nama-awal {
  max-width: auto;
  width: auto;
  max-height: auto;
  height: auto;
  font-family: 'Gluten', cursive;
  font-weight: 300;
  line-height: 30px;
}

body {
   font-family: Georgia; 
   color: #444; 
   padding-left: 14%;
   padding-right: 14%;
}

#inner { padding: 10px 80px; margin: 80px auto; background: #f5f5f5; border: solid var(--abutua); border-width: 8px 0 2px 0; }
.yui-gf { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid var(--abu); }

/* //-- header, body, footer -- */
#hd { margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid var(--abu) }
#bd, #ft { margin-bottom: 2em; }

/* //-- footer -- */
#ft { padding: 1em 0 5em 0; font-size: 92%; border-top: 1px solid var(--abu); text-align: center; } */
#ft p { margin-bottom: 0; text-align: center; }

/* //-- core typography and style -- */
#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
h2 { font-size:155% } 
h2 { font-family: 'Gluten', cursive;}
h3 {font-family: 'Gluten', cursive;}
h4 {font-family: 'Gluten', cursive;}
h4 {font-weight: 500;}
h4 {line-height: 24px;}
h3, h4 { font-size: 120%; }
h1, h2, h3, h4 { color: rgb(53, 52, 52); }
p { font-size: 100%; line-height: 18px; padding-right: 3em; }
a { color: #990003 }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
li { line-height: 24px; border-bottom: 1px solid var(--abu); }
p.nama-saya { font-size: 120%; padding-right: 6.5em; line-height: 24px; }
p.nama-saya span { color: #000 }
.contact-info { margin-top: 7px; }
.first h2 { font-style: italic; }
.last { border-bottom: 0 }


/* //-- code bagian atas kanan pelajar -- */

a#pdf { display: block; float: left; background:var(--abutua); color: white; padding: 6px 50px 6px 12px; margin-bottom: 6px; text-decoration: none;  }
a#pdf:hover { background: #222; }

.job { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid var(--abu); }
.job h4 { position: absolute; top: 0.35em; right: 0 }
.job p { margin: 0.75em 0 3em 0; }

.skills-list {  }
.skills-list ul { margin: 0; }
.skills-list li { margin: 3px 0; padding: 3px 0; }
.skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }
.talent2 { width: 100%; float: left }
.talent {width: 30%; float: left;}
.talent h2 { margin-bottom: 6px; }
.talent h3 {font-weight: 600;}

